@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9fafb;
}

.prose p {
  margin: 0.25rem 0;
}

.prose ul {
  margin: 0.25rem 0;
  padding-left: 1rem;
}

.prose li {
  margin: 0.1rem 0;
}
